SERVER_PORT=18081
ERP_APP_HOST_PORT=18081
ERP_RUNTIME_ROOT=/data/aitools/erp

ERP_DATASOURCE_URL=jdbc:postgresql://postgres-shared:5432/erp
ERP_DATASOURCE_USERNAME=erp_app
ERP_DATASOURCE_PASSWORD=changeme
ERP_DATASOURCE_DRIVER=org.postgresql.Driver
ERP_POSTGRES_PASSWORD=changeme

ERP_REDIS_HOST=redis-shared
ERP_REDIS_PORT=6379
ERP_REDIS_PASSWORD=
ERP_REDIS_DATABASE=1

ERP_KAFKA_BOOTSTRAP_SERVERS=kafka-shared:9092
ERP_KAFKA_TOPIC=erp.domain.events

ERP_MINIO_ENDPOINT=http://minio-shared:9000
ERP_MINIO_ACCESS_KEY=changeme
ERP_MINIO_SECRET_KEY=changeme
ERP_MINIO_BUCKET=erp-files

ERP_ES_HOST=elasticsearch-shared
ERP_ES_PORT=9200

NACOS_ADDR=nacos-shared:8848
NACOS_NAMESPACE=
SPRING_CLOUD_NACOS_DISCOVERY_ENABLED=false
SPRING_CLOUD_NACOS_CONFIG_ENABLED=false

ERP_JWT_SECRET=changeme-must-be-at-least-256-bits-long
ERP_JWT_EXPIRATION=7200
